version: "3.9"

services:
  backend:
    build: ./backend
    ports:
      - "8000:8000"
    volumes:
      - ./data:/data

  frontend:
    build: ./frontend/frontend-ui
    ports:
      - "3000:3000"
    depends_on:
      - backend
